<launch>

<rosparam file="$(find sample_description)/launch/controller.yaml" command="load"/>
<node args="base_twist_position_controller arm_rev_position_controller elbow_rev_position_controller wrist_twist_position_controller left_claw_sliding_position_controller right_claw_sliding_position_controller joint_state_controller " name="controller_spawner" ns="sample" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/sample/joint_states"/>
</node>

</launch>